@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Reseteamos el CSS  */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #E8E8E8;
}

.main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

/* Seccion del Text area  */

.text--input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: auto;
    height: 50vw;
}
.logo{
    padding: 15px 17px;
    width: 40px;
    height: 48px;
}

.textarea{
    background-color: #E8E8E8;
    border: 0;
    font-size: 32px;
    margin-left: 100px;
    width: 577px;
    
    font-family: 'Inter';
    color:darkblue;
    resize: none;
}
.contiene--mayusculas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem
}


.span{
    color: rgb(61, 61, 61);
}
.botones{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}
.encriptar{
    width: 300px;
    background-color: darkblue;
    color: white;
    font-family: 'Inter';
    padding: 20px 25px;
    font-size: 16px;
    border-radius: 24px;
}
.desencriptar{
    width: 300px;
    background-color: white;
    border-color: darkblue;
    color: darkblue;
    font-family: 'Inter';
    padding: 20px 25px;
    border-radius: 24px;
    font-size: 16px;    
}
button:hover{
    background-color: rgba(0, 0, 139, 0.425);
}


/* Estilos de la seccion mostrar mensaje encriptado o desencriptado*/

.text--output{
    margin-right: 40px;
    background-color: white;
    max-height: 944px;
    height: 50vw;
    border-radius: 32px;
    
}
.indicaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.mensaje{
    font-family: 'Inter' ,sans-serif;
    color: grey;
    font-size: 2rem;
    text-align: center;
}

.p--textOutput{
    font-family: 'Inter' ,sans-serif;
    color: rgba(128, 128, 128, 0.938);
    font-size: 1rem;
    text-align: center;
}

.texto{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: inherit;
    height: inherit;
    justify-content: space-between;
    margin: auto;

}

.mostrartexto{
    font-size: 1.5rem;
    font-family: 'Inter' ,sans-serif;;
    color: grey;
    margin-top: 15px;
}

.copiar{
    margin-bottom: 15px;
    width: 300px;
    background-color: white;
    border-color: darkblue;
    color: darkblue;
    font-family: 'Inter';
    padding: 20px 25px;
    font-size: 16px;
    border-radius: 24px;
}

.indicaciones--botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilos del Footer */


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
.texto--ingresado{
    background-color: #E8E8E8;
    border: 0;
    color: darkblue;
    font-size: 32px;
    font-family: 'inter';
    margin-left: 100px;

}
.indicaciones--botones{ 
    display: flex;
    flex-direction: column;
    align-items: start;
}

 /* los breakpoints fueron obtendios de https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp*/

 /* Dispositivos Extra chicos (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
        width: 100%; 
        max-width: 600px;
        justify-content: space-evenly;
    }
    /*Input texto*/
    .text--input {
        height: auto;
        width: 100%;
        padding: 1rem;
      }
    
      .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        width: 30px;
        height: 36px;
      }
    
      .textarea {
        font-size: 24px;
        margin-left: 0;
        width: 80%;
        height: 200px;
      }
    
      .contiene--mayusculas {
        font-size: 14px;
      }
    
      .botones {
        flex-direction: row;
        gap: 1rem;
      }
    
      .encriptar,
      .desencriptar {
        width: 100%;
        padding: 12px 12px;
        font-size: 24px;
      }
      /*Output texto*/
      .text--output {
        margin-right: 0;
        max-height: none;
        height: auto;
        border-radius: 0;
        padding: 1rem;
      }

      .muñeco{
        display: none;
      }
    
      .indicaciones {
        margin-top: 50px;
      }
    
      .mensaje {
        font-size: 1.5rem;
      }
    
      .p--textOutput {
        font-size: 0.875rem;
      }
    
      .texto {
        padding: 1rem 0;
      }
    
      .mostrartexto {
        font-size: 1.125rem;
        margin-top: 10px;
      }
    
      .copiar {
        width: 100%;
        padding: 16px 20px;
        font-size: 14px;
        margin-bottom: 10px;
      }

      /* footer  */
      .footer {
        flex-direction: row;

        text-align: center;

      }
    
      .linkedin,
      .github {
        margin-top: 0.5rem;
      }
    
      .github img {
        width: 36px;
        height: 40px;
      }

 }

 /* Dispositivos Chicos (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
        width: auto;
        min-width: 600px;
        gap: 2.5rem;
        align-items: center;
        align-self: center;
    }

    .textarea{
        width: inherit;
        height: inherit;
        min-width: 600px;
        margin: 0;
        height: 50vh;
    }
    .muñeco{
        display: none;
    }
    .text--output{
        width: auto;
        max-width: 600px;
        margin: 0;
    }
    .indicaciones{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: inherit;
        height: inherit;
        
    }


 }
 
 /* Dispositivos Medianos (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    .muñeco{
        display: block;
    }

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .text--output{
        width: 25vw;
        margin-top: 20px;
    }
 } 
 